<%- include('partials/header') -%>

<div class="companyBox">
    <div class="companyHead">
        <h2 class="companyTitle"><%=companyData.comName%></h2>
        <img src="<%=companyData.imageCom%>">
        <h1 id="price">Price:<span style="color:red"><%=companyData.price%></span></h1>
    </div>
    <div>
        <p>Changes Percentage: <span style="color:red"><%=companyStockData.changesPercentage%></span></p>
        <p>Change: <span style="color:red"><%=companyStockData.change%></span></p>
    </div>
    <div class="comDetails">
        <ul>
            <div class="comDetails-child">
                <li><p>Symbol:<span style="color:red"><%=companyData.symbol%></span></p></li>
                <li><p>ISIN:<span style="color:red"><%=companyData.isin%></span></p></li>
                <li><p>Phone:<span style="color:red"><%=companyData.phone%></span></p></li>
                <li><p>Exchange:<span style="color:red"><%=companyData.exchange%></span></p></li>
            </div>
            <div class="comDetails-child">
                <li><p>Opening:<span style="color:red"><%=companyStockData.open%></span></p></li>
                <li><p>Day Low:<span style="color:red"><%=companyStockData.dayLow%></span></p></li>
                <li><p>Day High:<span style="color:red"><%=companyStockData.dayHigh%></span></p></li>
                <li><p>Volume:<span style="color:red"><%=companyStockData.volume%></span></p></li>
                <li><p>Previous Close:<span style="color:red"><%=companyStockData.prevClose%></span></p></li>
            </div>
        </ul>
    </div>
</div>
<br>
<br>
<p class="comDescription"><%=companyData.description%></p>
<script>
    let speech = new SpeechSynthesisUtterance();

    document.querySelector("body").addEventListener("mouseenter", () => {
        speech.text = "Current "+document.querySelector("#price").innerHTML+"$";
        window.speechSynthesis.speak(speech);
    });
</script>
