<%- include('partials/header') -%>

<div class="companyBox">
    <div class="companyHead">
        <h2 class="companyTitle"><%=companyData.comName%></h2>
        <img src="<%=companyData.imageCom%>">
         <h1 id="price">Price:<%=companyData.price%></h1>
    </div>
    <div>
        <p>Changes Percentage: <%=companyStockData.changesPercentage%></p>
        <p>Change: <%=companyStockData.change%></p>
    </div>
    <div class="comDetails">
        <ul>
            <div class="comDetails-child">
                <li><p>Symbol: <%=companyData.symbol%></p></li>
                <li><p>ISIN: <%=companyData.isin%></p></li>
                <li><p>Phone: <%=companyData.phone%></p></li>
                <li><p>Exchange: <%=companyData.exchange%></p></li>
            </div>
            <div class="comDetails-child">
                <li><p>Opening:<%=companyStockData.open%></p></li>
                <li><p>Day Low: <%=companyStockData.dayLow%></p></li>
                <li><p>Day High: <%=companyStockData.dayHigh%></p></li>
                <li><p>Volume: <%=companyStockData.volume%></p></li>
                <li><p>Previous Close: <%=companyStockData.prevClose%></p></li>
            </div>
        </ul>
    </div>
</div>
<br>
<br>
<p class="comDescription"><%=companyData.description%></p>
<script>
    let speech = new SpeechSynthesisUtterance();

    document.querySelector("body").addEventListener("mouseenter", () => {
        speech.text = "Current Price is "+document.querySelector("#price").innerHTML;
        window.speechSynthesis.speak(speech);
    });
</script>
